html,body{
width:100%;/*640px;*/
height:100%;/*960px;*/
margin:0;
padding:0;
background-color: #bd010d;
}
.main{
position:relative;
width:100%;
height:100%;
text-align:center;
overflow:hidden;
white-space:nowrap;
background:url(../images/sub-back.png?v1) no-repeat;
background-size:100%;
}
.footer{
position:absolute;
width:100%;/*640px;*/
height:8.96%;/*86px;*/
margin-top:-8.96%;/*-86px;*/
text-align:center;
bottom:0;
}
.footer .dot-bar{
margin:auto;
}
.dot{
display:inline-block;
width:12px;
height:12px;
background:url(../images/dot.png) no-repeat;
background-size:50%;
}
.cur{
background:url(../images/dot-sel.png) no-repeat;
background-size:50%;
}
.left-barrier,.right-barrier{
position:fixed;
background:#ecc013;
width:23%;
height:45%;
z-index:10;
top:0;
}
.left-barrier{
left:0;
}
.right-barrier{
right:0;
}
.section-list{
width:100%;/*4480px;*/
position:relative;
left:0;
}
.section{
position:absolute;
width:100%;/*640px;*/
height:100%;/*960px;*/
-webkit-transform-origin:50% -640px;
-moz-transform-origin:50% -640px;
transform-origin:50% -640px;
}
.topic-bar{
margin:auto;
padding-top:22%;/*116px;*/
width:50.31%;/*332px;*/
height:auto;
}
.topic-bar img{
width:100%;
}
.btn-bar{
height:37.3%;/*358px;*/
margin:auto;
}
.btn,.btn2,.btn4{
display:inline-block;
}
.btn{
padding:19.2% 0;/*123px 0;*/
width:24.3%;/*156px;*/
height:auto;
}
.btn2{
padding:8.9% 3.6%;/*57px 23px;*/
width:29.5%;/*189px;*/
height:auto;
}
.btn4{
margin:17.3% 2%;/*111px;*/
width:15.9%;/*102px;*/
height:auto;
}
.btn img,.btn2 img,.btn4 img{
width:100%;
}
.btn4 img{
padding:0 12.7% 35.3%;/*0 13px 36px;*/
}
.btn4:nth-of-type(2) img{
padding:35.3% 12.7% 0;/*36px 13px 0;*/
}
.btn4:nth-of-type(3) img{
padding:35.3% 12.7% 0;/*36px 13px 0;*/
}
.top-position {
vertical-align: top;
}
